.seeker {
   position: relative;
   overflow: visible;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   &__search {

      &-form {
         width: 100%;
         border: 0.5rem solid;
         border-color: rgba(154, 158, 161, 0.1);
         border-radius: 0.2rem;
         display: flex;
         flex-wrap: nowrap;

         & .search {

            & .search-input {
               height: 100%;
               border: none;
               outline: none;
               padding: 0 1rem;
            }

            &__sug {
               position: absolute;
               left: 0;
               width: 200px;
               height: 0px;
               z-index: 99;
               overflow-y: auto;
               overflow-x: hidden;
               transition: all .3s ease-in-out;
               -o-transition: all .3s ease-in-out;
               -webkit-transition: all .3s ease-in-out;
               -moz-transition: all .3s ease-in-out;
               opacity: 0;

               &.active {
                  height: 200px;
                  opacity: 1;
               }

               &--item {
                  cursor: pointer;
                  padding: 10px;

                  &:hover {
                     background-color: rgba(0, 0, 0, .3);
                  }
               }


            }

         }
      }

      &-label {
         width: 100%;
         margin-top: 0.8rem;
         display: flex;
         align-items: center;
         justify-content: space-between;

         & .text-analytics,
         & .seeeker-advanced {
            display: flex;
            align-items: center;
            cursor: pointer;

            & img {
               width: 1.5rem;
               margin-right: 0.5rem;
            }
         }
      }

      &-icons {
         display: flex;

         & .text-analytics,
         & .seeeker-advanced {
            border-radius: 50%;
            padding: 0.4rem;
         }

         & img {
            width: 1.6rem;
            cursor: pointer;
         }
      }

   }

}