$toolbar-height: 3.5rem;

.int-doc {
  display: flex;
  justify-content: center;

  &__toolbar {
    height: $toolbar-height;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-top: 1px solid rgba(0, 0, 0, .125);
    position: fixed;
    top: inherit;
    left: 0;
    transition: 400ms;
    z-index: 2;
  }

  &__documents {
    margin-top: $toolbar-height;

    &-content {
      padding: 1rem;
      position: relative;
    }

    &-print {
      display: none;

      & .icon-scjn-logo {
        font-size: 4rem;
      }
    }

    &-copy {
      position: absolute;
      width: auto;
      padding: 1rem;
      border-radius: 4px;
      cursor: pointer;
    }

  }
}
