.tab-manual {
  padding: 2rem 0;

  & .components-bg {
    & .tab-manual__sections {
      height: calc(100vh - 5rem - 140px + .66vh);
      overflow: auto;
      margin-top: 0;
      transition: all 1s ease-in-out;

      @media (max-width:768px) {
        margin-top: 0!important;
      }

      &::-webkit-scrollbar {
        width: .3rem;
        height: .3rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #24135f, $alpha: .6);
      }

      &::-webkit-scrollbar-button {
        border-radius: 50%;
      }

      &--indice {
        & .indice-nav {


          &__firts {
            font-weight: 600;
          }

          &__second {
            font-weight: 600;
          }

          & p {
            background-color: transparent;
            transition: all .3s ease-in-out;
            padding: .3rem;
            border-radius: .3rem;

            &:hover {
              background-color: rgba($color: #24135f, $alpha: .8);
              color: white !important;
              cursor: pointer;
            }
          }

        }
      }

    }
  }

  &__content{
    &--bl{
        &-title,&-subtitle{
            margin: 1rem 0 !important;
        }
    }
  }

}

.img-mbj{
    width: 100%;
    min-height: calc(4rem + .66vh);
}

.copy-btn{
    width: calc(2.5rem + .66vw);
    height: calc(2.5rem + .66vh);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .3rem !important;
    cursor: pointer;
}

.download{
    position: relative;
    padding: .3rem;

    &::after{
        position: absolute;
        top: 0;
        right: 0;
        height: .2rem;
        content: '';
        width: 0;
        transform: translateX(0);
        transform-origin: left;
        transition: all .3s ease-in-out;
        background-color: transparent;
    }

    &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: .2rem;
        content: '';
        width: 0;
        transform: translateX(0);
        transform-origin: right;
        transition: all .3s ease-in-out;
        background-color: transparent;
    }

    &:hover::before{
        background-color: rgba($color: #24135f, $alpha: .6);
        transform: translateX(1);
        width: 100%;
    }
    
    &:hover::after{
        background-color: rgba($color: #24135f, $alpha: .6);
        transform: translateX(1);
        width: 100%;
    }

}