<div class="int-home">

   <div class="int-home__seeker"
      [@homeAnimation]>

      <int-seeker></int-seeker>

   </div>

   <div class="int-home__information-source"
      [@homeAnimation]>

      <int-information-source></int-information-source>

   </div>

   <div class="int-home__international-bodies mt-3"
      [@homeAnimation]>

      <int-international-bodies></int-international-bodies>

   </div>

   <div class="int-home__tribunals-courts-cons"
      [@homeAnimation]>

      <int-tribunals-courts-cons></int-tribunals-courts-cons>

   </div>

</div>