<div class="row end-footer align-items-center no-gutters border-lg components-bg">
    <div class="col-12 col-xl-3 end-footer__logo">
      <a role="link" class="end-footer__logo--link skin-color-text" href="https://goo.gl/maps/L8FU6ce9i9wBg4aQ8"
        target="_blank" tabindex="0">
        <span hidden>SCJN</span>
        <em role="img" aria-label="Suprema Corte de Justica de la Nación" class="icons-vdos icon-scjn-logo"></em>
      </a>
    </div>
    <div class="col-12 col-xl-4 end-footer__location">
      <p class="end-footer__location--text skin-color-text"><strong>Unidad General de Administración del Conociemento
          Jurídico</strong></p>
      <p class="end-footer__location--text">Pino Suárez 2, Col. Centro, Cuauhtémoc, C.P. 06065, México, CDMX</p>
      <a class="end-footer__location--text components-color" role="link" href="https://goo.gl/maps/pUH4V3D1CjSaGeRPA"
        target="_blank" tabindex="0">
        Edificio 5 de febrero. Chilmalpopoca 112 esq. 5 de febrero, Centro, Cuauhtémoc, C.P. 06080
      </a>
    </div>
    <div class="col-12 col-xl-2 end-footer__contact">
      <div class="end-footer__contact--phone mb-3">
        <div class="bj-color-bg text-in-dark">
          <mat-icon>phone</mat-icon>
        </div>
        <span>+52 (55) 4113 1000</span>
      </div>
      <div class="end-footer__contact--email">
        <div class="bj-color-bg text-in-dark">
          <mat-icon>mail</mat-icon>
        </div>
        <a class="contact__email--link components-color" role="link" href="mailto:contactobj@scjn.gob.mx" aria-label="SCJN email">contactobj@scjn.gob.mx</a>
      </div>
    </div>
    <div class="col-12 col-xl-3 end-footer__social">
      <a role="link" class="end-footer__social--circle text-in-dark" href="https://www.facebook.com/SCJNMexico/"
        target="_blank" tabindex="0" aria-label="SCJN Facebook">
        <span hidden>SCJN Facebook</span>
        <i class="fab fa-facebook-f"></i>
      </a>
      <a role="link" class="end-footer__social--circle text-in-dark" href="https://twitter.com/scjn" target="_blank"
        tabindex="0" aria-label="SCJN Twitter">
        <span hidden>SCJN Twitter</span>
        <i class="fab fa-twitter"></i>
      </a>
      <a role="link" class="end-footer__social--circle text-in-dark" aria-label="SCJN LinkedIn"
        href="https://mx.linkedin.com/company/suprema-corte-de-justicia-de-la-naci%C3%B3n" target="_blank" tabindex="0">
        <span hidden>SCJN LinkedIn</span>
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a role="link" class="end-footer__social--circle text-in-dark" href="https://www.youtube.com/scjn" target="_blank"
        tabindex="0" aria-label="SCJN Youtube">
        <span hidden>SCJN Youtube</span>
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    <div class="col-12 col-xl-12 end-footer__scjn bj-color-bg text-white text-center mt-3">
      <p>Buscador Jurídico de la Suprema Corte de Justicia de la Nación - {{year}}</p>
    </div>
  </div>
  