.header-links {
  width: 100%;
  min-height: 3rem;
  padding-top: .5rem;

  &__nav {
    display: flex;
    justify-content: flex-end;

    &-list {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: .6rem;

      & .link {
        margin: 0 .5rem;
        opacity: 0;
        position: relative;
        top: -100px;

        &:nth-child(1) {
          transition: all .2s .1s ease-in-out
        }

        &:nth-child(2) {
          transition: all .2s .2s ease-in-out
        }

        &:nth-child(3) {
          transition: all .2s .3s ease-in-out
        }

        &:nth-child(4) {
          transition: all .2s .4s ease-in-out
        }

        &:nth-child(5) {
          transition: all .2s .5s ease-in-out
        }

        &:nth-child(6) {
          transition: all .2s .6s ease-in-out
        }

        &:nth-child(7) {
          transition: all .2s .7s ease-in-out
        }

        &:nth-child(8) {
          transition: all .2s .8s ease-in-out
        }

        &:nth-child(9) {
          transition: all .2s .9s ease-in-out;
          cursor: pointer;
          &.view .link__tabs {
            height: calc(20rem + .66vh);
            opacity: 1;
            pointer-events: auto;
          }
        }

        &.in-show {
          top: 0;
          opacity: 1;
        }

        & a {
          .figure {
            width: calc(.8rem + .66vw);
          }

          i {
            font-size: calc(.8rem + .66vw);
          }
        }

        &__tabs {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          width: calc(20rem + .66vw);
          height: 0;
          overflow-x: hidden;
          overflow-y: auto;
          position: absolute;
          right: 0;
          top: 100%;
          opacity: 0;
          pointer-events: none;
          transition: all .5s ease-in-out;
          z-index: 9;
          padding: .5rem;
          border: 0.1rem solid #e3e3e3;
          border-radius: 10px;

          &--entity {
            width: 30%;
            display: flex;
            flex-direction: column;
            min-height: 80px;
            border-radius: .3rem;
            align-items: center;
            justify-content: center;
            font-size: .8rem;
            position: relative;
            box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: .5);
            margin: .25rem;
            padding: .2rem;

            &:hover {
              background-color: rgba($color: #000000, $alpha: .2);
            }

            // &-img {
            //   width: calc(40px + .6vw);
            //   height: calc(40px + .6vh);
            // }
          }
        }
      }
    }
  }
}
