.rsimilares {
  &__expansion-panels {
    padding: .3rem;
  }
}

.bord {
  border-top: 1px solid;
  margin-top: .8rem;
}

.panel-h {
  padding: .4rem;
  background-color: transparent;
  transition: all .2s ease-in-out;
}

.panel-h:hover {
  background-color: rgba(0, 0, 0, .1);
}

li {
  list-style: none;
}
