<footer class="footer-pub p-3">
    <div class="footer-pub__logo">
        <em aria-label="Suprema Corte de Justica de la Nación" aria-hidden="true"
        class="icons-vdos icon-scjn-logo footer-pub__logo--scjn skin-color-text"></em>
    </div>
    <div class="footer-pub__metadata">
        <p class="skin-color-text">Pino Suárez 2, Col. Centro, Cuauhtémoc, C.P. 06065, México, CDMX</p>
        <p class="skin-color-text">Unidad General de Administración del Conocimiento Jurídico</p>
        <p class="skin-color-text">Edificio 5 de febrero. Chimalpopoca 112 esq. 5 de febrero, Centro, Cuauhtémoc, C.P. 06080</p>
        <p class="skin-color-text">+52 (55) 4113 1000</p>
        <p><a class="skin-color-text" href="mailto:contactobj@scjn.gob.mx">contactobj@scjn.gob.mx</a></p>
        <p class="skin-color-text">Buscador Jurídico de la Suprema Corte de Justicia de la Nación - {{age.getFullYear()}}</p>
    </div>
</footer>