<div class="tab-guide">
  <div class="tab-guide__description">
    <h1 class="tab-guide__description--title">El Buscador Jurídico es la plataforma de recuperación de información
      institucional que sigue un Modelo de Administración del Conocimiento.
    </h1>
    <div class="tab-guide__description--separator components-bg--a2 my-4"></div>
    <p class="tab-guide__description--parag mb-3"> Da clic sobre un video para explorar el funcionamiento del Buscador
      Jurídico.</p>
  </div>
  <div class="container-fluid">
    <div class="card-header components-bg">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-2 row-cols-lg-3 row-cols-xl-3">
        <div class="col mb-4">
          <div class="frame-tab">
            <iframe id="ensembleEmbeddedContent_QbiJORmApUiM8l-ornmHbA"
              src="https://aldeasolutions.mx/hapi/v1/contents/3989b841-8019-48a5-8cf2-5fa8ae79876c/plugin?embedAsThumbnail=false&displayTitle=false&startTime=0&autoPlay=false&hideControls=true&showCaptions=false&displaySharing=false&displayAnnotations=false&displayAttachments=false&displayLinks=false&displayEmbedCode=false&displayDownloadIcon=false&displayMetaData=false&displayCredits=false&audioPreviewImage=false&displayCaptionSearch=false&displayViewersReport=false&displayAxdxs=false"
              title="Buscador Jurídico - Tutorial" frameborder="0" scrolling="no" class="frame-tab__video"
              allowfullscreen></iframe>
          </div>
          <div class="d-flex align-items-center mt-2">
            <em class="icons-vdos icon-libro skin-color-text"><span class="hidden">&nbsp;</span></em>
            <span class="skin-color-text">Suprema Corte de Justicia de la Nación</span>
          </div>
          <p class="ml-4">Inducción al Buscador Jurídico.</p>
        </div>
        <div class="col mb-4">
          <div class="frame-tab">
            <iframe id="ensembleEmbeddedContent_dK_8r4yx2EKcNZWmLmWkdQ"
              src="https://aldeasolutions.mx/hapi/v1/contents/affcaf74-b18c-42d8-9c35-95a62e65a475/plugin?embedAsThumbnail=false&displayTitle=false&startTime=0&autoPlay=false&hideControls=true&showCaptions=false&displaySharing=false&displayAnnotations=false&displayAttachments=false&displayLinks=false&displayEmbedCode=false&displayDownloadIcon=false&displayMetaData=false&displayCredits=false&audioPreviewImage=false&displayCaptionSearch=false&displayViewersReport=false&displayAxdxs=false"
              title="Buscador Jurídico - Análisis de texto" frameborder="0" scrolling="no" class="frame-tab__video"
              allowfullscreen></iframe>
          </div>
          <div class="d-flex align-items-center mt-2">
            <em class="icons-vdos icon-libro skin-color-text"><span class="hidden">&nbsp;</span></em>
            <span class="skin-color-text">Suprema Corte de Justicia de la Nación</span>
          </div>
          <p class="ml-4">Realiza búsquedas por contexto a partir de consultas
            textuales o complementarias.</p>
        </div>
        <div class="col mb-4">
          <div class="frame-tab">
            <iframe id="ensembleEmbeddedContent_V_b4av5650KAXT4rSSQCLw"
              src="https://aldeasolutions.mx/hapi/v1/contents/6af8f657-7afe-42e7-805d-3e2b4924022f/plugin?embedAsThumbnail=false&displayTitle=false&startTime=0&autoPlay=false&hideControls=true&showCaptions=false&displaySharing=false&displayAnnotations=false&displayAttachments=false&displayLinks=false&displayEmbedCode=false&displayDownloadIcon=false&displayMetaData=false&displayCredits=false&audioPreviewImage=false&displayCaptionSearch=false&displayViewersReport=false&displayAxdxs=false"
              title="Buscador Jurídico - Instancias" frameborder="0" scrolling="no" class="frame-tab__video"
              allowfullscreen></iframe>
          </div>
          <div class="d-flex align-items-center mt-2">
            <em class="icons-vdos icon-libro skin-color-text"><span class="hidden">&nbsp;</span></em>
            <span class="skin-color-text">Suprema Corte de Justicia de la Nación</span>
          </div>
          <p class="ml-4">Conoce las fuentes de información del Buscador Jurídico y los
            vínculos a buscadores especializados.
          </p>
        </div>
        <div class="col mb-4">
          <div class="frame-tab">
            <iframe id="ensembleEmbeddedContent_n8xhcpF3tU6ADNBU9PlePw"
              src="https://aldeasolutions.mx/hapi/v1/contents/7261cc9f-7791-4eb5-800c-d054f4f95e3f/plugin?embedAsThumbnail=false&displayTitle=false&startTime=0&autoPlay=false&hideControls=true&showCaptions=false&displaySharing=false&displayAnnotations=false&displayAttachments=false&displayLinks=false&displayEmbedCode=false&displayDownloadIcon=false&displayMetaData=false&displayCredits=false&audioPreviewImage=false&displayCaptionSearch=false&displayViewersReport=false&displayAxdxs=false"
              title="Buscador Jurídico - Precedentes" frameborder="0" scrolling="no" class="frame-tab__video"
              allowfullscreen></iframe>
          </div>
          <div class="d-flex align-items-center mt-2">
            <em class="icons-vdos icon-libro skin-color-text"><span class="hidden">&nbsp;</span></em>
            <span class="skin-color-text">Suprema Corte de Justicia de la Nación</span>
          </div>
          <p class="ml-4">Conoce los precedentes de una Controversia Constitucional y/o
            Acción de Inconstitucionalidad a partir de una Sentencia.</p>
        </div>
        <div class="col mb-4">
          <div class="frame-tab">
            <iframe id="ensembleEmbeddedContent_tXns0EtXr0Sko8oNSd23Ww"
              src="https://aldeasolutions.mx/hapi/v1/contents/d0ec79b5-574b-44af-a4a3-ca0d49ddb75b/plugin?embedAsThumbnail=false&displayTitle=false&startTime=0&autoPlay=false&hideControls=true&showCaptions=false&displaySharing=false&displayAnnotations=false&displayAttachments=false&displayLinks=false&displayEmbedCode=false&displayDownloadIcon=false&displayMetaData=false&displayCredits=false&audioPreviewImage=false&displayCaptionSearch=false&displayViewersReport=false&displayAxdxs=false"
              title="Buscador Jurídico - Derechos Humanos" frameborder="0" scrolling="no" class="frame-tab__video"
              allowfullscreen></iframe>
          </div>
          <div class="d-flex align-items-center mt-2">
            <em class="icons-vdos icon-libro skin-color-text"><span class="hidden">&nbsp;</span></em>
            <span class="skin-color-text">Suprema Corte de Justicia de la Nación</span>
          </div>
          <p class="ml-4">Accede al buscador especializado de la Corte Interamericana
            de Derechos Humanos y del Sistema de Naciones Unidas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
