<div class="v-nodengroses d-flex">
  <div class="v-nodengroses__viz" [ngClass]="{'view-skeleton': isLoad}" id="viz"></div>
  <div class="v-nodengroses__nodes" *ngIf="isLoad">
    <div class="" *ngIf="isLoad">
      <div class="mt-1 mb-1">
        <div class="mb-2 view-skeleton" style="width: 100%; height: 7rem;"></div>
      </div>
      <div class="mb-1">
        <div class="mb-2 view-skeleton" style="width: 100%; height: 7rem;"></div>
      </div>
      <div class="mb-1">
        <div class="mb-2 view-skeleton" style="width: 100%; height: 7rem;"></div>
      </div>
      <div class="mb-1">
        <div class="mb-2 view-skeleton" style="width: 100%; height: 7rem;"></div>
      </div>
      <div class="mb-1">
        <div class="mb-2 view-skeleton" style="width: 100%; height: 7rem;"></div>
      </div>
    </div>
  </div>
  <div class="v-nodengroses__nodes" *ngIf="!isLoad">
    <div *ngFor="let i of indices; let pos = index" class="v-nodengroses__nodes--card mb-3">
      <p class="text-center" [ngClass]="{'title-engrose': (nodos[i]?.label | convertNode) == 'Sentencia',
                'title-jurisprudencia': (nodos[i]?.label | convertNode) == 'Tesis de Jurisprudencia',
                'title-aislada': (nodos[i]?.label | convertNode) == 'Tesis Aislada',
                'title-expediente': (nodos[i]?.label | convertNode) == 'Expediente',
                'title-ordenamiento text-in-dark': (nodos[i]?.label | convertNode) == 'Ordenamiento',
                'title-tratado': (nodos[i]?.label | convertNode) == 'Tratado Internacional',
                'title-coidh': (nodos[i]?.label | convertNode) == 'Caso Coidh',
                'title-acuerdo': (nodos[i]?.label | convertNode) == 'Acuerdo'}">{{nodos[i]?.label | convertNode }}</p>
      <p class="title-card" [innerHTML]="nodos[i].title | convertNode"></p>
      <a mat-button class="w-100" *ngIf="((nodos[i]?.label | convertNode) == 'Ordenamiento' 
                || (nodos[i]?.label | convertNode) == 'Tesis de Jurisprudencia'
                || (nodos[i]?.label | convertNode) == 'Expediente'
                || (nodos[i]?.label | convertNode) == 'Tesis Aislada') && urlRedirect[pos]
                " [href]="urlRedirect[pos]" target="_blank">Ir al documento</a>
      <a mat-button class="w-100" [href]="(nodos[i]?.title | convertUrlCOIDH)" target="_blank"
        *ngIf="(nodos[i]?.label | convertNode) == 'Caso Coidh' && (nodos[i]?.title | convertUrlCOIDH) !=''">Ir al documento</a>
    </div>
    <hr>
  </div>

</div>
