.v-edcossugeridos {
  padding: .4rem;
}

.card-sugerencia {
  background-color: transparent;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;

  & .border-top-skin-color {
    border-top: 1px solid;
    margin: 5px 0;
  }

}

.card-sugerencia:hover {
  background-color: rgba(0, 0, 0, .1);



}
